html{
            margin: 0;
            padding: 0;
        }

        canvas {
            display: flex;
            width: 50%;
            margin: 0 auto;
            flex-basis: 10%;
        }
        .game-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }
        .container {
            display: inline-flex;
        }

        p {
            font-size: 25px;
            color: aqua;
            font-weight: bold;
            margin: auto;
        }

        button {
            font-size: 20px;
            padding: 10px 20px;
            position: absolute;
            z-index: 100;
        }
