html{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        canvas {
            display: flex;
            width: 55%;
            margin: 0 auto;
            flex-basis: 10%;
        }
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }
        .container {
            display: inline-flex;
        }


        #message {
            flex-basis: 600%;
            font-size: 25px;
            color: aqua;
            font-weight: bold;
            text-align: left;
            padding-top: 10px;
        }
