<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale:1.0">
        <title>2048</title>

        {% load static %}
        <link href="{% static 'cooler_math_games/2048/2048.css' %}" rel="stylesheet">
        <script src ="{% static 'cooler_math_games/2048/2048.js' %}" type="text/javascript"></script>
    </head>

    {% include "./header.html" %}

    <br>

    <body id="number-page">
        <h1>2048</h1>
        <hr>
        <h2>Score: <span id="score">0</span></h2>
        <div id="board">
        </div>
        <button onclick="quit_game()" class="button-link">Quit Game</button>
    </body>
</html>