<!DOCTYPE html>
<html lang="en">
<!--This is a simple game straight up copied from chat gpt to test out how this will work-->
<head>
    <meta charset="UTF-8">
    <title>Avoid the Square!</title>
 	{% load static %}
	<link href="{% static 'cooler_math_games/avoid_game/avoid_game.css' %}" rel="stylesheet">
</head>

<body onload="alert('{{ user }} avoid the square for as long as you can! (Also this game is just a test lol :))'); ">
	<div id="player"></div>
	<div id="enemy"></div>
	<script src ="{% static 'cooler_math_games/avoid_game/avoid_game.js' %}" type="text/javascript"></script>
	<a href="{% url 'cooler_math_games:game_end' 100 'Avoid' %}" class="fake_button">Quit</a>
</body>
</html>