<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Bug Catcher!</title>
    {% load static %}
    <link href="{% static 'cooler_math_games/page.css' %}" rel="stylesheet">
    <link href="{% static 'cooler_math_games/catcher/catcher.css' %}" rel="stylesheet">
</head>

{% include "./header.html" %}

<body>
    <div id="instructions">
    <h2>Instructions</h2>
    <p>
        Catch as many bugs as you can in 15 seconds! Use the left and right arrow keys to move! Good luck!
    </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
    <script src="{% static 'cooler_math_games/catcher/catcher.js' %}" type="text/javascript"></script>
</body>
</html>
