<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>climber</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    {% load cooler_math_games_extras %}
    {% load static %}\
    <link href="{% static 'cooler_math_games/climber/climber.css' %}" rel="stylesheet">
    <link href="{% static 'cooler_math_games/page.css' %}" rel="stylesheet">
</head>

{% include "./header.html" %}
<br>

<body>
    <script src="{% static 'cooler_math_games/climber/climber.js' %}" type="text/javascript"></script>
</body>
</html>