<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Game Over</title>
    <link href="{% static 'cooler_math_games/game_end.css' %}" rel="stylesheet">
</head>

{% include "./header.html" %}

<body>
    <div class="container">
        <div class="game-over">
            <h2>Game Over!</h2>
        </div>
        <form action="{% url 'cooler_math_games:game_end' score game %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save Your Score!">
            <a href="{% url 'cooler_math_games:home' %}" id="dont_save">Don't Save My Score</a>
        </form>
    </div>
</body>
</html>