<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>Making your first Phaser 3 Game - Part 10</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>

{% include "./header.html" %}

<body>

<script type="text/javascript">

var config = {
    type: Phaser.AUTO,
    width: 800,
    height: 600,
    
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 300 },
            debug: false
        }
    },
    scene: {
        preload: preload,
        create: create,
        update: update
    }
};

var title;
var playButton;
var cursors;
var score = 0;
var man = [0,0,0,0,0,0];
var gameOver = false;
var gameStarted = false;
var firstTurnTaken = false;
var scoreText;
var instructionText = "Guess letters until you guess the word. \nDon't make too many wrong guesses or the man will hang!"
var instructions;
var gameWonText;
var gameLostText;
var newButton;
var spaces;
var currentWord = "";
var guessedletters = [];
var wrongGuessCount = 0;
var correctGuessCount = 0;
var guesstext = [0,0,0,0,0,0]; //lol
var words = [
    'absurd','absent','advice','adverb','aliens','almost','almond','ambush','anchor','admire','abduct','armpit','atrium','author','awoken','baguet','beacon',
    'binary','bishop','blouse','bonsai','bother','bougie','brainy','brains','breath','budget','brutal','busted','bustle','burlap','buckle','brunet','breast',
    'campus','canopy','carton','castle','cashew','change',
    'danish','deform','denial','devour','dimple','dingus',
    'earthy','engulf','enigma','exotic','export','equals',
    'fabled','factor','father','facial','fiesta','flakey',
    'gamers','gather','giblet','golden',
    'habits','hanger','hanker','heroic','hiatus','hoards',
    'improv','island','impose','income','impure','import',
    'jacket','jingle','jockey','jungle',
    'kelvin','kidney','knight','keypad',
    'ladies','lancet','launch','length','linear','layers',
    'mangle','margin','marvel','mascot','master','median',
    
]

//colors
var lightGrey = 0xD3D3D3;

var game = new Phaser.Game(config);

function preload ()
{
    this.load.image('ground', '../../static/cooler_math_games/hangman/platform.png');
    this.load.image('gallows', '../../static/cooler_math_games/hangman/gallows.png');
    this.load.image('title', '../../static/cooler_math_games/hangman/title.png');
    this.load.image('playButton', '../../static/cooler_math_games/hangman/playButton.png');
    this.load.image('newButton', '../../static/cooler_math_games/hangman/newButton.png');
    this.load.image('background','../../static/cooler_math_games/hangman/background.png');
    this.load.image('space','../../static/cooler_math_games/hangman/space.png');
    this.load.image('head','../../static/cooler_math_games/hangman/head.png');
    this.load.image('arm','../../static/cooler_math_games/hangman/arm.png');
    this.load.image('leg','../../static/cooler_math_games/hangman/leg.png');
    this.load.image('body','../../static/cooler_math_games/hangman/body.png');
}

function create ()
{
    //background for the game
    this.add.image(400, 300, 'background');
    var gallows = this.add.image(150, 370, 'gallows').setScale(2);
    gallows.flipX=true;
    this.add.image(400, 568, 'ground').setScale(2);

    //title screen
    title = this.add.sprite(400, 100, 'title').setScale(1.5);
    playButton = this.add.sprite(400, 200, 'playButton').setInteractive();

    playButton.on('pointerdown', function (pointer) {

        this.setTint(lightGrey);

    });
    playButton.on('pointerup', function (pointer) {

        this.clearTint();
        startGame();

    });

    //screen after end of game
    gameWonText = this.add.text(330, 200, "You Won!", { fontSize: '32px', fill: '#000', align: "center" });
    gameWonText.setActive(false).setVisible(false);
    gameLostText = this.add.text(330, 200, "You Lost!", { fontSize: '32px', fill: '#000', align: "center" });
    gameLostText.setActive(false).setVisible(false);
    newButton = this.add.sprite(400, 300, 'newButton').setInteractive();
    newButton.on('pointerdown', function (pointer) {

        this.setTint(lightGrey);

    });
    newButton.on('pointerup', function (pointer) {

        this.clearTint();
        newGame(this);

    });
    newButton.setActive(false).setVisible(false);

    //spaces to place letters on during gameplay
    spaces = this.physics.add.staticGroup({
        key: 'space',
        repeat: 5,
        setScale: 2,
        setXY: { x: 400, y: 500, stepX: 50 }
    });
    spaces.children.iterate(function (child) {
        child.disableBody(true, true);
    });

    //the stick man that will be filled in on wrong guesses
    man[0] = this.add.image(222, 340, 'head').setScale(0.5);
    man[1] = this.add.image(222, 393, 'body').setScale(0.6);
    man[2] = this.add.image(235, 390, 'leg').setScale(1.4);
    man[3] = this.add.image(208, 390, 'leg').setScale(1.4); man[3].flipX=true;
    man[4] = this.add.image(235, 435, 'leg').setScale(1.4);
    man[5] = this.add.image(208, 435, 'leg').setScale(1.4); man[5].flipX=true;
    for(let i = 0; i < man.length; i++){
        man[i].setActive(false).setVisible(false);
    }

    //place empty strings on screen where letters will be placed later
    for(let i = 0; i < guesstext.length; i++){
        guesstext[i] = scoreText = this.add.text(390 + 50*i, 465, '', { fontSize: '32px', fill: '#000' });
    }

    //  Input Events
    cursors = this.input.keyboard.createCursorKeys();

    //  The score
    scoreText = this.add.text(16, 16, 'streak: 0', { fontSize: '32px', fill: '#000' });
    scoreText.setActive(false).setVisible(false);

    //instructions for the first turn of the game
    instructions = this.add.text(10, 180, instructionText, { fontSize: '24px', fill: '#000', align: "center" });
    instructions.setActive(false).setVisible(false);

    //setup listner for keyboard input
    this.input.keyboard.on('keydown', function (event) {
        if(gameStarted){
            console.dir(event);
            checkInput(event);
        } 
    });
}

function update ()
{
    //disable instructions after first turn
    if(firstTurnTaken){
        instructions.setActive(false).setVisible(false);
    }


}

function startGame(){
    //turn off features from main menu and enable some game elements
    gameStarted = true;
    title.setActive(false).setVisible(false);
    playButton.setActive(false).setVisible(false);
    instructions.setActive(true).setVisible(true);
    scoreText.setActive(true).setVisible(true);
    spaces.children.iterate(function (child) {
        child.enableBody(true, child.x, 0, true, true);
    });

    //get the word for the round
    currentWord = words[Math.floor(Math.random()*words.length)];
    console.log(currentWord);
}

function newGame(lastRoundWon){
    gameWonText.setActive(false).setVisible(false);
    gameLostText.setActive(false).setVisible(false);
    newButton.setActive(false).setVisible(false);
    for(let i = 0; i < guesstext.length; i++){
        guesstext[i].setText("");
    }
    for(let i = 0; i < man.length; i++){
        man[i].setActive(false).setVisible(false);
    }
    correctGuessCount = 0;
    wrongGuessCount = 0;
    gameOver = false;
    guessedletters = [];
    currentWord = words[Math.floor(Math.random()*words.length)];
    console.log(currentWord);
}

function displayGameWonScreen(){
    gameWonText.setActive(true).setVisible(true);
    newButton.setActive(true).setVisible(true);
    scoreText.setText('streak: ' + score);
}

function displayGameLostScreen(){
    gameLostText.setActive(true).setVisible(true);
    newButton.setActive(true).setVisible(true);
    scoreText.setText('streak: ' + score);
}

function checkInput(event){
    firstTurnTaken = true;

    //don't process input if not in a game
    if(gameOver){
        return;
    }
    
    //check input against all letters in current word
    for (let i = 0; i < currentWord.length; i++){
        if (event.key === currentWord[i]){
            if(!guessedletters.includes(event.key)){ //if letter is a match and hasn't been guessed yet (words will have unique letters)
                guesstext[i].setText(event.key);
                correctGuessCount ++;
                guessedletters.push(event.key);

                //remove an incorrect guess as a reward
                if(wrongGuessCount > 0){
                    wrongGuessCount--;
                    man[wrongGuessCount].setActive(false).setVisible(false);
                }

                //check if there was a winning guess
                if(correctGuessCount == guesstext.length){
                    score++;
                    gameOver = true;
                    displayGameWonScreen();
                }
            }
            return;
        }
    };
    //made it here if letter wasn't found in word
    if(!guessedletters.includes(event.key)){
        wrongGuessCount++;
        man[wrongGuessCount - 1].setActive(true).setVisible(true);
        console.log("letter isnt in word");
        guessedletters.push(event.key);

        //check if game was lost
        if(wrongGuessCount >= currentWord.length){
            score = 0;
            gameOver = true;
            displayGameLostScreen();
        }
    }
}

</script>
</body>
</html>